@model Produto
<form asp-controller="Produto" asp-action="CreateProductByAdm" method="post">
    <div asp-validation-summary="ModelOnly"></div>
    <div class="form-group">
        <label asp-for="@Model.Nome"></label>
        <input asp-for="@Model.Nome" />
        <span asp-validation-for="@Model.Nome"></span>
    </div>

    <div class="form-group">
        <label asp-for="@Model.Preco"></label>
        <input asp-for="@Model.Preco" />
        <span asp-validation-for="@Model.Preco"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.DataEntrada"></label>
        <input asp-for="@Model.DataEntrada" />
        <span asp-validation-for="@Model.DataEntrada"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Quantidade"></label>
        <input asp-for="@Model.Quantidade" />
        <span asp-validation-for="@Model.Quantidade"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.ImagemUrl"></label>
        <input asp-for="@Model.ImagemUrl" />
        <span asp-validation-for="@Model.ImagemUrl"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.DescricaoCurta"></label>
        <input asp-for="@Model.DescricaoCurta" />
        <span asp-validation-for="@Model.DescricaoCurta"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.AntigoPreco"></label>
        <input asp-for="@Model.AntigoPreco" />
        <span asp-validation-for="@Model.AntigoPreco"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.PrecoSecundario"></label>
        <input asp-for="@Model.PrecoSecundario" />
        <span asp-validation-for="@Model.PrecoSecundario"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.MaxVezes"></label>
        <input asp-for="@Model.MaxVezes" />
        <span asp-validation-for="@Model.MaxVezes"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.IdCategoria"></label>
        <input asp-for="@Model.IdCategoria" />
        <span asp-validation-for="@Model.IdCategoria"></span>
    </div>

    <input type="submit" role="button" formmethod="post" asp-action="CreateProductByAdm" asp-controller="Produto" asp-route-Produto="@Model" />
</form>
