@model ActionResult<Produto>
<link rel="stylesheet" href="~/css/Variaveis.css" />
<div class="product-details-container">
    <div class="product-image">
        @if (Model.Value.ImagemUrl.Contains("www"))
        {
            <input class="img-loja" type="image" style="width: 560px; height: 560px" src='@Model.Value.ImagemUrl' />
        }
        else
        {
            <input class="img-loja" type="image" style="width: 560px; height: 560px" src='~/Imagens/@Model.Value.ImagemUrl' />
        }
        
    </div>
    <div class="product-details">
        <h1 class="nome-item">@Model.Value.Nome</h1>
        <p>@Model.Value.DescricaoCurta</p>

        <p>
            de <span id="product-de">R$@Model.Value.AntigoPreco</span> por <span id="product-por">R$@Model.Value.Preco</span>
        </p>

        <h2 id="product-price">R$@Model.Value.Preco</h2>
        <span id="product-por"> à vista @Model.Value.AVista!</span>
        <p style="color: yellow; font-size:smaller;">No PIX com 10% de desconto em até 12x de R$@Model.Value.PrecoSecundario @Model.Value.MaxVezes sem juros no cartão</p>
        @{
            int quantidade = 1;
        }
        <input type="number" id="quantidade" value="@quantidade" min="1" max="12" />
        <div class="text-box">
            <a class="productbtn" asp-controller="Carrinho" asp-action="AdicionarNoCarrinho" asp-route-IdProduto="@Model.Value.IdProduto" asp-route-quantidadeAdicionar="@quantidade">Adicionar @Model.Value.Nome ao carrinho</a>
        </div>
         
    </div>
</div>

