@model ActionResult<Produto>

<div class="itensHeadContainer">
    <input class="img-loja" type="image" src="@Model.Value.ImagemUrl"
           style="width: 860px; height: 700px" />
    <h1 class="nome-item">@Model.Value.Nome</h1>
    <p>@Model.Value.DescricaoCurta</p>
</div>
<div class="itensProduto">
    <p>
        de R$@Model.Value.AntigoPreco por:
        <h2>
            R$@Model.Value.PrecoSecundario
        </h2>
    <p>à vista @Model.Value.AVista</p>

</div>
<div>
    <h2> R$@Model.Value.Preco</h2>
    <p>No PIX com 10% de desconto em até 12x de R$@Model.Value.MaxVezes<br /> sem juros no cartão</p>
    <div class="text-box">
        <a class="btn btn-primary" id="cartButton" asp-controller="Carrinho" asp-action="AdicionarNoCarrinho" asp-route-IdProduto="@Model.Value.IdProduto">Adicionar @Model.Value.Nome ao carrinho</a>
    </div>
</div>

