@model Produto
<link rel="stylesheet" href="~/css/PaginaInicial.css" />

<input class="img-loja" type="image" src="@Model.ImagemUrl" width="200" height="200" />
<h1 class="nome-item">@Model.Nome</h1>
<p>@Model.DescricaoCurta</p>
<p class="de-por">de R$@Model.AntigoPreco por:</p>
<p class="avista">à vista @Model.AVista</p>
<h2 class="precoitem">R$@Model.Preco</h2>
<p class="pix">No PIX com 10% de desconto</p>
<h2 class="precosecundario">R$@Model.PrecoSecundario</h2>
<p class="ate">em até 12x de R$@Model.MaxVezes<br /> sem juros no cartão</p>
<div class="text-box">
    <a class="btndetail" asp-controller="Produto" asp-action="Produto" method="get" asp-route-id="@Model.IdProduto" role="button">Detalhes</a>
</div>
