@using WebApplication2.Areas.Admin.ViewModel;
@model CreateProductViewModel;

@{
    ViewData["Title"] = "Criar pedido";
    List<Produto> listProd = new List<Produto>();
}


<h4>Pedido</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@Model._Pedido.Nome" class="control-label"></label>
                <input asp-for="@Model._Pedido.Nome" class="form-control" />
                <span asp-validation-for="@Model._Pedido.Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model._Pedido.DataPedido" class="control-label"></label>
                <input asp-for="@Model._Pedido.DataPedido" class="form-control" />
                <span asp-validation-for="@Model._Pedido.DataPedido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model._Pedido.Rua" class="control-label"></label>
                <input asp-for="@Model._Pedido.Rua" class="form-control" />
                <span asp-validation-for="@Model._Pedido.Rua" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model._Pedido.Numero" class="control-label"></label>
                <input asp-for="@Model._Pedido.Numero" class="form-control" />
                <span asp-validation-for="@Model._Pedido.Numero" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model._Pedido.Telefone" class="control-label"></label>
                <input asp-for="@Model._Pedido.Telefone" class="form-control" />
                <span asp-validation-for="@Model._Pedido.Telefone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model._Pedido.TotalItensPedido" class="control-label"></label>
                <input asp-for="@Model._Pedido.TotalItensPedido" class="form-control" />
                <span asp-validation-for="@Model._Pedido.TotalItensPedido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model._Pedido.TotalPedido" class="control-label"></label>
                <input asp-for="@Model._Pedido.TotalPedido" class="form-control" />
                <span asp-validation-for="@Model._Pedido.TotalPedido" class="text-danger"></span>
            </div>

            <div class="dropdown">
                <a class="btn btn-secondary dropdown-toggle" style="background-color:dodgerblue" role="button" id="dropdownMenuLink"
                   data-bs-toggle="dropdown" aria-expanded="false">Selecione os produtos do pedido</a>

                <ul class="dropdown-menu">
                    @foreach (Produto produto in Model.Produtos)
                    {
                        <li>
                            <a onclick="addProduct('@produto.Nome');" class="dropdown-item">@produto.Nome</a>
                        </li>
                    }
                    <li class="dropdown-divider"></li>
                </ul>
            </div>
            <div class="form-group">
                <h4 class="offcanvas-title">Produtos selecionados</h4>
                <div id="selectedProducts"></div>
            </div>

            <div class="form-group">
                <input style="margin-top: 10px; background-color: green"type="submit" value="Criar pedido" class="btn btn-primary" />
            </div>

        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar para a lista</a>
</div>
<script>
    var selectedProducts = [];

    function addProduct(product) {
        if (!selectedProducts.includes(product)) {
            selectedProducts.push(product);
            updateSelectedProducts();
        }
    }

    function updateSelectedProducts() {
        var selectedProductsDiv = document.getElementById('selectedProducts');
        selectedProductsDiv.innerHTML = '';

        selectedProducts.forEach(function (product) {
            var label = document.createElement('span');
            label.textContent = product;
            label.classList.add('badge', 'bg-primary', 'me-1');
            selectedProductsDiv.appendChild(label);
        });
    }
</script>

