@model IEnumerable<Pedido>

@{
    ViewData["Title"] = "Index";
}

<h1>Visão geral</h1>

<table class="table" style="color: white;">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataPedido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rua)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Numero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalItensPedido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalPedido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Entregue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Concluido)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataPedido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rua)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Numero)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalItensPedido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalPedido)
                </td>
                @if(item.Entregue)
                {
                    <td class="form-check-label" style="background-color: green;">
                        @Html.DisplayFor(modelItem => item.Entregue)
                    </td>

                }
                else
                {
                    <td class="form-check-label" style="background-color: red;">
                        @Html.DisplayFor(modelItem => item.Entregue)
                    </td>
                }
                @if (item.Concluido)
                {
                    <td class="form-check-label" style="background-color: green;">
                        @Html.DisplayFor(modelItem => item.Concluido)
                    </td>
                }
                else
                {
                  
                    <td class="form-check-label" style="background-color: red;">
                        @Html.DisplayFor(modelItem => item.Concluido)
                    </td>
                }
                
                
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdPedido">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.IdPedido">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdPedido">Deletar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
