@model IEnumerable<WebApplication2.Models.Categoria>

@{
    ViewData["Title"] = "Inicio";
}

<h1>Inicio</h1>

<p>
    <a asp-action="Create">Criar nova categoria</a>
</p>
<table class="table" style="color: white;">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoriaNome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tipos)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategoriaNome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tipos)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdCategoria">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdCategoria">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.IdCategoria">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
